In [1]:
data = spark.createDataFrame([(22, "John")], ["Age", "FirstName"])

In [2]:
data.show()

In [3]:
display(data)

Age,FirstName
22,John