In [1]:
dbPassword = "<Azure SQL Password>"

connectionString = "jdbc:sqlserver://<Azure SQL Server>.database.windows.net:1433;database=<Azure SQL Database>;user=<Azure SQL username>@<Azure SQL Server>;password={0};encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;".format(dbPassword)

In [2]:
df = spark.read.jdbc(connectionString, "<TableName>")

In [3]:
display(df)

In [4]:
display(new_df)

## Writing Data

The below data frame assumes there's a table created with the following schema:
 - Age - integer
 - FirstName - string

In [6]:
data = spark.createDataFrame([(22, "John")], ["Age", "FirstName"])

In [7]:
data.show()

In [8]:
data.write.jdbc(connectionString, "<TableName>", mode='append')

### Separate way to read data from a JDBC connection string.

In [10]:
new_df = spark.read.format("jdbc") \
  .option("url", connectionString) \
  .option("dbtable", "<TableName>") \
  .load()